.Layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

.Layout main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}